<ion-header  [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Teoría Combinatoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-text color="secondary" class="ion-text-center" >
    <h2>Selecione los criterios</h2>
  </ion-text>
  <ion-card>
    <ion-segment (ionChange)="orderChanged($event)"  color="secondary">
      <ion-segment-button value="orderimportant">
        <ion-label>importa el orden</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ordernotimportant">
        <ion-label>No importa el orden</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  <ion-card>
    <ion-segment *ngIf="order != 'ordernotimportant'"
      (ionChange)="useallChanged($event)" color="secondary">
      <ion-segment-button value="useall">
        <ion-label>Se usan todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="notuseall">
        <ion-label>No se usan todos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  <ion-card>
    <ion-segment (ionChange)="repetitionChanged($event)" color="secondary">
      <ion-segment-button value="repeating">
        <ion-label>Se repiten</ion-label>
      </ion-segment-button>
      <ion-segment-button value="notrepeating">
        <ion-label>No se repiten</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>
  <ion-card *ngIf="(order==='orderimportant' && useall && repetition) || (order==='ordernotimportant' && repetition)">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <h6>{{formula}}</h6>
          <img src='./assets/img/{{image}}' class="img" text-center />
        </ion-col>
      </ion-row>
      <form (ngSubmit)="logForm()">
        <ion-row>
          <ion-col *ngIf="onlyn">
            <ion-item>
              <ion-label color="secondary" style="font-weight: 900;">M =</ion-label>
              <ion-input type="text" type="text" [(ngModel)]="todo.m"
                name="m"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="secondary" style="font-weight: 900;">n =</ion-label>
              <ion-input type="text" [(ngModel)]="todo.n"
                name="n"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button size="small" color="secondary" (click)="limpiarlawea()">Limpiar</ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button size="small" type="submit">Calcular</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" >
            <h3 class="solution">Solución: </h3>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{response}}</h3>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>


  </ion-card>


</ion-content>