<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Calculadora Probabilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <div class="center">
        <h5>
          <b>Calcular teorema de bayes</b>
        </h5>
      </div>
    </ion-card-header>
    <div class="center">
      <img
        src="./assets/img/teorema-de-bayes.png"
        class="img"
        text-center
        height="70"
        width="250"
      />
    </div>
    <form (ngSubmit)="logForm()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="secondary" style="font-weight: 900"
                >P(A) =</ion-label
              >
              <ion-input
                type="text"
                type="text"
                name="a"
                [(ngModel)]="todo.pa"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="secondary" style="font-weight: 900"
                >P(B) =</ion-label
              >
              <ion-input type="text" name="b" [(ngModel)]="todo.pb"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="secondary" style="font-weight: 900"
                >P(B/A) =</ion-label
              >
              <ion-input type="text" name="b" [(ngModel)]="todo.pba"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button size="small" color="secondary" (click)="limpiarlawea()"
              >Limpiar</ion-button
            >
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button size="small" type="submit">Calcular</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center">
            <h3 class="solution">Solución:</h3>
          </ion-col>
          <ion-col class="ion-text-center">
            <h3>{{response}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
