<ion-header  [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Probabilidad y sistemas estocasticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" >
    <ion-card >
      <ion-card-header>
        <ion-card-title>Teoría Combinatoria</ion-card-title>
        <ion-card-subtitle>Conteo, Permutación y arreglos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" fill="outline"
          [routerLink]="['/calcombinatorial']">Calculadora</ion-button>
        <ion-button expand="block" fill="outline"
          [routerLink]="['/examplescom']">Ejemplos</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Probabilidades</ion-card-title>
        <ion-card-subtitle>----</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" fill="outline" [routerLink]="['/calprobability']">Calculadora</ion-button>
        <ion-button expand="block" fill="outline" [routerLink]="['/examplesprobability']">Ejemplos</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
